<%- include('../partials/header') %>
<% let user = info; %>
<h3>My profile</h3> 
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="<%=user.nick%>"" aria-label="Username" aria-describedby="basic-addon1" id="name">
    </div>
  
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="<%=user.email%>"" aria-label="Recipient's username" aria-describedby="basic-addon2" id="email">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
    </div>
    <h3>관리중인 소화기</h3>
    <ul>
    <% let extinguishers = info.Extinguishers %>
    <% for(const [idx,el] of extinguishers.entries()){ %>
    <%       console.log(el.dataValues) %>
    <%       console.log(idx) %>
            <label for="<%=idx%>"><%=idx+1%>:</label>
            <text>id</text>
            <input type="text" id="el<%=idx%>" value="<%=el.dataValues.id%>">
            <text>name</text>
            <input type="text" id="el<%=idx%>" value="<%=el.dataValues.name%>">
            <br>
    <%}%>
    </ul>
    

    <button class="btn btn-primary" id="editButton">Edit All</button>
    <button class="btn btn-primary btn-subject" id="submit">Submit</button>
    <script>
        $(document).ready(function() {
            $('input, textarea').prop('disabled', true);
            $('#editButton').click(function() {
                $('input, textarea').prop('disabled', function(i, v) {
                    return !v;
                });
            });
        });
    </script>
<%- include('../partials/footer') %>