<%- include('../partials/header') %>
<%- include('./toast') %>
<%- include('./offcanvas') %>
<div id="map" style="width:100%;height:1280px;"></div>
<script> let extinguishers = '<%=extinguishers%>' </script>
<script src="/scripts/management.js"></script>
<%- include('../partials/footer') %>